<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  colors="true"
  bootstrap="src/XML/Builder.php">
  <logging>
    <log type="coverage-html" target="coverage" charset="UTF-8"
        highlight="true"/>
  </logging>
  <filter>
    <whitelist>
      <directory suffix=".php">src/</directory>
    </whitelist>
  </filter>
  <testsuite name="XML_Builder Test Suite">
    <directory>tests/</directory>
  </testsuite>
</phpunit>
<!-- vim: set sw=2 sts=2: -->
